# Python
# Generic ignores
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.eggs/
# Sphinx documentation
docs/_build/
# Jupyter Notebook
.ipynb_checkpoints
# mypy
.mypy_cache/
# pytest
.pytest_cache/

# Virtual environment
.venv/
venv/
env/
ENV/
build/
develop-eggs/
dist/

# Editor/IDE-specific files
.idea/  # JetBrains IDEs (PyCharm, etc.)
.vscode/ # VS Code
*.swp   # Vim

# Operating System files
.DS_Store # macOS
Thumbs.db # Windows

